@font-face
{
    font-family: rust-header;
    src: url('Lobster_1.3.otf');
}

@font-face
{
    font-family: rust-rows;
    font-weight: light;
    src: url('Sansation_Light.ttf');
}

@font-face
{
    font-family: rust-rows;
    src: url('Sansation_Regular.ttf');
}

@font-face
{
    font-family: rust-rows;
    src: url('Sansation_Bold.ttf');
    font-weight: bold;
}

@font-face
{
    font-family: rust-chords;
    src: url('SourceCodePro-Regular.otf');
}

body
{
    background-color: #fafafa;
    margin: 0;
}

::-webkit-input-placeholder
{
    color: #222;
}
#content
{
    width: 900px;
    background-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border: solid 2px #eaeaea;
}

    #content span.h1 
    {
        font-family: rust-header;
        font-weight: light;
        font-size: 20px;
        padding: 20px 0 0;
	    margin: 10px;
        display: inline;
        color: #444;
    }
    #content #lyrics
    {
        padding-bottom: 15px;
    }
    #lyric_field
    {
        display: inline;
        margin: 10px 5px;
        width: 550px;
        height: 50px;
        font-family: rust-rows;
        font-weight: light;
        font-size: 30px;
        border: 0;
        padding: 10px;
        color: black;
    }

    #content #songs
    {
        overflow-y: scroll;
    }
        #content #songs .song
        {
            height: 35px;
            font-family: rust-rows;
            font-weight: light;
            padding: 10px 10px 0px;
            margin: 5px;
            font-size: 24px;
        }

            #content #songs .song a
            {
                text-decoration: none;
                color: #232323;
            }

        #content #songs .song.even
        {
            background-color: #fafafa;
        }

        #content #songs .song.odd
        {
            background-color: #f4f4f4;
        }

    #content #chords
    {
        padding: 10px;
    }
        #content #chords .breadcrumb
        {
            color: #232323;
            font-size: 20px;
            font-family: rust-rows;
            text-decoration: none;
        }
        #content #chords h2
        {
            font-size: 20px;
            display: inline-block;
            font-family: rust-rows;
        }
        #content #chords pre
        {
            font-family: rust-chords;
        }
            #content #chords pre .chord
            {
                color: #222277;
            }

        #content #chords #transpose
        {
            font-family: rust-rows;
        }
            #content #chords #transpose button
            {
                font-family: rust-rows;
                width: 35px;
                height: 25px;
            }

    #content #footer
    {
        height: 30px;
    }
